// Color Variables
$white: #fff;
$black: #000;
$primary-color:#47A5B7;
$secondary-color:#2E6B75;
$extra-color:#57e3ff;
$border-color: #e5e5e5;
$black-light:#848485;
$yello:#FAF9F6;
$blue: #007891;
$heading-font:'Fontastique', sans-serif;
$body-font:'Montserrat', sans-serif;